.searchBar{
    display: inline-block;
}

.box_Search{
    width: 200px;
    margin-left: 5px;
    font-family: 'Arial';
    padding: 10px 20px;
    outline: 0;
    border: 3px solid #ae1c1c;
    border-radius: 12px;
    background: #d84444;
    color: #e6e7ed;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.box_Search::placeholder{
    color: #e6e7ed;
}
.button{
    height: 40px;
    width: 60px;
    font-family: 'Arial';
    font-size: large;
    border: 3px solid #ae1c1c;
    border-radius: 12px;
    background: #dd2c2c;
    color: #e6e7ed;
}