.conteinerCard{
    display: flex;
    width: 980px;
    height: 647px;
}
.card-Conteiner{
    background-image: url('./Pokedex2.png');
    width: inherit;
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.img-card-Conteiner{
    align-self: center;
    justify-self: center;
    margin-top: -40px;
}
.dataCard{
    display: grid;
    grid-template-rows: 545px 100px;
}

.typeButton{
    border: 1px solid;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
}
.typyStats{
    align-self: center;
    justify-self: center;
    margin-top: 120px;
}
.height_weight{
    display: grid;
    grid-template-columns: 100px 152px 1fr;
}
